body {
    background-color: rgb(176, 176, 176);
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    background-color: white;
    width: 600px;
    height: 450px;
    margin: 9% 30%;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: cadetblue;
}

.h1 {
    text-align: center;
    color: rgb(53, 91, 92);
}

.hr {
    margin: 1px 60px 30px 60px;
    background: linear-gradient(90deg, rgba(2, 0, 3 6, 1) 70%, rgba(255, 255, 255, 1) 100%); 
    border-top: 3px solid cadetblue ;   
}

.input {
    display: block;
    text-align: left;
    margin: auto;
    height: 27px;
    width: 95%;
    border-style: solid;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.374);
    border-radius: 5px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
    padding-left: 10px;
    border-bottom: 0px;
}

.logar{
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 95%;
    height: 37px;
    display: block;
    margin: 10px auto;
    border-radius: 3px;
    border-color: transparent;
}

.footer {
    text-align: center;   
    flex-direction: row;
    background-color: rgba(65, 105, 225, 0.281);
    padding: 30px;
    display: flex;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 26px;
}

.cadastre{
    background-color: white;
    color: royalblue;
    border-radius: 3px;
    border-color: yellow;
    display: flex;
    padding: 5px;
}

p{
    margin: 0 30px 0 150px; /*gambiarra*/
    text-align: center;  
    color: rgb(53, 91, 92); 
    font-size: 1.3em;
}